body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin:0;
    padding:0;
}

header {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0px auto;
    z-index: 110;
    padding: 0px;
    
}

header nav ul {
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: block;
  background: 0 0;
  list-style: none;
  font-size:16px;
  margin: 0px;
  padding:0px;
}

header nav ul li {
    display: block;
  float: left;
  line-height: 60px;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;    
}

header nav a {
    display: inline-block;
    margin: 0px;
    height: 100%;
    padding: 0 20px;
    line-height: 100px;
}

header .logo a {
    padding: 13px 0;
}

header .logo a img {
    width: 75%;
    max-width: 250px;
    border: none;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.main {
    position: relative;
    z-index: 1;
    height: 750px;
    margin: 20px 0px 0px 0px;
    padding: 140px 0px 0px 150px;
}

.main:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background: url('../img/header-background.jpeg') center center; 
    background-size: cover;
    
}