<div class="container">
  <header>
      <nav>
          <ul>
              <li><a href="#">INICIO</a></li>
              <li><a href="#">NOSOTROS</a></li>
              <li><a href="#">FAQs</a></li>
              <li class="logo">
                  <a href="#">
                      <%= image_tag "logo-final.png" %>
                  </a>
              </li>
              <li><a href="#">COMPRAR</a></li>
              <li><a href="#">COMPARTE</a></li>
              <li><a href="#">MI CUENTA</a></li>
          </ul>
      </nav>
  </header>
</div>